{{> head }}
{{> navbar }}

<div class="row">
	<div class="col-8">
		<h1>About page</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate est commodi temporibus reprehenderit ipsum quaerat aperiam numquam eius aliquid consectetur illum qui eos reiciendis deserunt velit, odio ad aut atque!
		</p>
	</div>
	<div class="col-4">
		<img src="../assets/img/test_image.jpg" class="img-thumbnail">
	</div>
</div>

{{> footer }}